body {
    margin: 0;
    background-color: #000000;
    color: rgb(33, 143, 180);
    font-family: 'Orbitron';
  }
  
  #text-label {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Orbitron';
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    pointer-events: none;
    user-select: none;
  }
  #date-time {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Orbitron';
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    pointer-events: none;
    user-select: none;
  }
  
  #satSearch {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    font-family: 'Orbitron';
    background-color: #000000;
    border-style:double;
    border-radius: 0.5rem;
	border-width: 4px;
    border-color: #00ffcc;
    border-style:double;
    color: #00ffcc;
    font-size: 1.2rem;
    font-weight: bold;
  }
  #searchBtn {
    position: fixed;
    bottom: 2rem;
    left: 23.5rem;
    font-family: 'Orbitron';
    background-color: #000000;
    border-color: #00ffcc;
    border-style:double;
    border-radius: 0.5rem;
	border-width: 4px;
    color: #00ffcc;
    font-size: 1.2rem;
    font-weight: bold;
  }
  #satInfoBox {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #00ffcc;
    padding: 48vh 200px;
    border-radius: 10px;
	border-color: #00ffcc;
	border-style:double;
	border-width: 6px;
    font-family: "Orbitron", sans-serif;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
  #satInfoBox.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  #satInfoBox h3 {
	position: fixed;
	top: 10px;
	left: 10px;
    margin: 10;
    font-size: 20px;
  }
  
  #satInfoBox p {
    margin: 10px 1 1;

	position: fixed;
	top: 40px;
	left: 10px;
    font-size: 14px;
  }